on boot
    chown root system /sys/devices/platform/omapdss/manager0/cpr_coef
    chown root system /sys/devices/platform/omapdss/manager0/cpr_enable
    chmod 0664 /sys/devices/platform/omapdss/manager0/cpr_coef
    chmod 0664 /sys/devices/platform/omapdss/manager0/cpr_enable
    restorecon /sys/devices/platform/omapdss/manager0/cpr_coef
    restorecon /sys/devices/platform/omapdss/manager0/cpr_enable

on class_start:late_start
    write /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay 25000
    write /sys/devices/system/cpu/cpufreq/interactive/boostpulse_duration 0
    write /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load 99
    write /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq 800000
    write /sys/devices/system/cpu/cpufreq/interactive/min_sample_time 40000
    write /sys/devices/system/cpu/cpufreq/interactive/target_loads "70 600000:80 800000:90 1008000:99"
    write /sys/devices/system/cpu/cpufreq/interactive/timer_rate 40000
    write /sys/devices/system/cpu/cpufreq/interactive/timer_slack 40000
    
service pvrsrvinit /system/bin/pvrsrvinit
    class core
    oneshot
    user root
    group root
